<header>
    <div class="container header">
        <div class="header__container">
            <a class="header__logo-link" href="{{relative_root}}/index.html">
                <img class="header__logo" src="{{relative_root}}/images/logo.svg"></a>
            <nav class="header__nav--desktop">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="{{relative_root}}/platform.html">THE
                        PLATFORM</a></li>
                    <li class="header__nav-item"><a href="{{relative_root}}/education.html">EDUCATION</a></li>
                    <li name="press" class="header__nav-item"><a href="{{relative_root}}/press.html">PRESS</a></li>
                    <li name="company" class="header__nav-item"><a href="{{relative_root}}/company.html">COMPANY</a>
                    </li>

                    <li class="header__nav-item"><a href="{{relative_root}}/contact.html">CONTACT</a></li>
                </ul>
            </nav>
            <div class="header__actions">
                <a class="header__register" href="https://s.icapitalnetwork.com/register">REGISTER</a>
                <em>Already a member?</em>
                <a class="header__login" href="https://s.icapitalnetwork.com/login">LOGIN</a>
            </div>
            <a class="header__hamburger"><img src="{{relative_root}}/images/hamburger.svg"></a>
        </div>
    </div>
</header>

<section class="header__submenu-background"></section>

<section name="press" class="header__submenu">
    <div class="container">
        <div class="row header__submenu-links header__submenu--press">
            <a href="{{relative_root}}/news.html">NEWS & MEDIA</a>
            <a href="{{relative_root}}/press.html">PRESS RELEASES</a>
        </div>
    </div>
</section>
<section name="company" class="header__submenu">
    <div class="container">
        <div class="row header__submenu-links header__submenu--company">
            <a href="{{relative_root}}/managements.html">MANAGEMENT TEAM</a>
            <a href="{{relative_root}}/board.html">BOARD OF DIRECTORS</a>
            <a href="{{relative_root}}/partners.html">PARTNERS</a>
            <a href="{{relative_root}}/careers.html">CAREERS</a>
        </div>
    </div>
</section>

<section class="header__nav--tablet">
    <div class="header__close"><a><img src="{{relative_root}}/images/x.svg"></a></div>
    <div class="header__nav-list--tablet">
        <a href="{{relative_root}}/index.html">HOME</a>
        <a href="{{relative_root}}/platform.html">THE PLATFORM</a>
        <a href="{{relative_root}}/education.html">EDUCATION</a>
        <a href="{{relative_root}}/press.html">PRESS</a>
        <div class="header__submenu--tablet">
            <a href="{{relative_root}}/news.html">News & Media</a>
            <a href="{{relative_root}}/press.html">Press Releases</a>
        </div>
        <a>COMPANY</a>
        <div class="header__submenu--tablet">
            <a href="{{relative_root}}/managements.html">Management Team</a>
            <a href="{{relative_root}}/board.html">Board of Directors</a>
            <a href="{{relative_root}}/partners.html">Partners</a>
            <a href="{{relative_root}}/careers.html">Careers</a>
        </div>
        <a href="{{relative_root}}/contact.html">CONTACT</a>
        <div class="header__documents">
            <a>Privacy Policy</a>
            <a>Business Continuity Statement</a>
            <a>Terms of Use</a>
        </div>
        <div class="header__social">
            <a href="https://twitter.com/icapitalnetwork">
                <img class="header__twitter" src="{{relative_root}}/images/twitter.svg"></a>
            <a href="https://www.linkedin.com/company/icapital-network-inc">
                <img class="header__linkedin" src="{{relative_root}}/images/in.svg"></a>
        </div>
    </div>
</section>
