{{> page_title title="Management Team" }}
<div class="management container">
    <div class="row">
        <h2 class="management__title">Leadership</h2>
    </div>
    <div class="management__show-container">
        <div class="row management__show">
            <div class="management__info-container">
                <div class="management__name-container">
                    <h1 class="management__info-name">{{{name}}}</h1>

                    <div class="management__info-title">{{{title}}}</div>
                </div>
                <img class="management__info-image" src="{{image}}">
            </div>
            <div class="management__info-bio">
                <p>{{{bio}}}</p>
            </div>
        </div>
    </div>
    <div class="row management__related-container">
        <div class="management__related">
            {{#each managements}}
                <a {{#isnt id ../id}}href="./{{../page_name}}.html"{{/isnt}}>
                    <div class="person" {{#is id ../id}}id="current-person"{{/is}}>
                        <img src="{{image}}">

                        <div class="person__name">{{{name}}}</div>
                        <div class="person__title">{{{title}}}</div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="management__actions">
            <a class="management__home" href="../managements.html"><img src="../images/grid.svg"></a>
            <button class="management__prev"><img src="../images/icon-left.svg"></button>
            <button class="management__next"><img src="../images/icon-right.svg"></button>
        </div>
    </div>
</div>
