---
layout: resource_center
---
{{> page_title title="Education" }}

<div class="container">
    <h2 class="education__title">
        Studies in Private Equity
    </h2>
</div>

<div class="container">
    <div class="education__spotlight row">
        {{#each spotlights}}
            <div class="education__spotlight-item">
                <div class="education__spotlight-item-title">{{{title}}}</div>
                <div class="education__spotlight-item-date">{{{date}}}</div>
                <p class="education__spotlight-item-description">{{{description}}}</p>

                <div class="education__spotlight-item-media">{{{media_types}}}</div>
                <div class="education__spotlight-item-source"><em>{{{source}}}</em></div>
            </div>
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="education__resources row" ng-controller="ResourcesCtrl">
        <div class="education__resources-controls">
            <span class="education__resources-controls-title">Browse all Private Equity</span>

            <div class="education__resources-filter">
                <span class="arr"></span>
                <select>
                    <option selected="">All Media-Types</option>
                    <option>Long Media-Type Name To Test Width</option>
                </select>
            </div>
            <span class="education__resources-sort">Sort by: <a>Latest</a><a>Oldest</a></span>
        </div>
        <div>
            <!-- Use HTML entities for Angular braces -->
            <!-- Escaping double braces isn't working with Handlebars for some reason -->
            <div ng-repeat="resource in resources">
                <img ng-src="&#123;&#123;resource.icon&#125;&#125;">
                <div>&#123;&#123;resource.title&#125;&#125;</div>
                <div>&#123;&#123;resource.source&#125;&#125;</div>
                <div>&#123;&#123;resource.date&#125;&#125;</div>
                <div>&#123;&#123;resource.subcontent&#125;&#125;</div>
            </div>
        </div>
    </div>
</div>
