---
layout: default
---
{{> page_title title="Management Team" }}
<div class="managements container">
    <div class="managements__leadership-container">
        <div class="row managements__leadership">
            <div class="managements__intro">
                <h2 class="managements__intro-title">Leadership</h2>

                <p class="managements__intro-description">
                    Our founders and managing partners are accomplished industry executives who have raised hundreds
                    of billions of dollars of private equity capital and have proven track records for investing in,
                    building, managing, and advising financial software and services companies.
                </p>
            </div>
            <div class="managements__leaderships">
                {{#each managements}}
                    {{#is leadership "true"}}
                        <div class="person">
                            <a href="./managements/{{../page_name}}.html"><img src="{{../image}}"></a>
                            <div class="person__name">{{../name}}</div>
                            <div class="person__title">{{{../title}}}</div>
                        </div>
                    {{/is}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="managements__people">
            {{#each managements}}
                {{#is leadership "false"}}
                    <div class="person">
                        <a href="./managements/{{../page_name}}.html"><img src="{{../image}}"></a>
                        <div class="person__name">{{../name}}</div>
                        <div class="person__title">{{{../title}}}</div>
                    </div>
                {{/is}}
            {{/each}}
        </div>
    </div>
</div>
